@use 'reset' as *;

.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2d2d2d;
  border-radius: 2rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem;
}

.display {
  width: 100%;
  border: 1px solid #fff;
}

button {
  width: 2rem;
  border: none;
  background: #000;
}
