@use 'reset' as *;

.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2d2d2d;
  border-radius: 2rem;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 2rem;
}

.display {
  width: 100%;
  border: 1px solid #fff;
}

button {
  width: 6rem;
  padding: 1rem 2rem;
  text-align: center;
  margin: 0.5rem;
  border: none;
  background: #000;
  font-size: 1.4rem;
}

.keypad {
  display: grid;
  grid-template-areas: 'memoryBtn', 'operationsBtn';
  grid-template-columns: 1fr 1fr;
}

.memoryBtn {
  grid-area: 'memoryBtn';
}

.cleanBtn {
  grid-area: 'cleanBtn';
}

.operationsBtn {
  grid-area: 'operationsBtn';
}
